
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div class="mx-auto" style="margin-top:100px">
        <div class="text-center" style="font-size:30px">
            <h1>RFC</h1>
            <b>
                Genera tu Registro Federal de Contribuyentes<br />
                Solo necesitaremos:
            </b>
            <br />
            <b>
                •Nombre completo en mayúsculas sin acentos ni diéresis<br />
                •Fecha de nacimiento
            </b>
            <br />
            <b style="color:grey">
                Vamos a crear tu RFC
            </b>
            <br />
            <a href="/Principal/VistaIngresar" class="btn btn-dark" style="font-size:35px">INICIAR</a>
        </div>
    </div>
</body>
</html>
